<div class='owner_coordinates'>
  <% @coordinates.each do |coordinate| %>
    <%= link_to men_coordinate_path(id: coordinate.id) do %>
      <div class='list'>
        <div class='list_body'>
          <%= image_tag coordinate.photos.first.image.url, class: 'coordinate_image' %>
          <div class='season'>
            dress_season: <%= coordinate.dress_season %>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
