/.bundle
.env
.env.production
/db/*.sqlite3
/db/*.sqlite3-journal
/log/*.log
/log/*.log.lck
/tmp
/config/database.yml
/public/assets
/public/system
/spec/fixtures/cassettes/*
*.swp
*.swo
*.un~
*~
*.DS_Store
/coverage
.capistrano
/public/sitemap*
