<% if @coordinates.present? %>
  <ul class='gallery_box'>
    <% @coordinates.each do |coordinate| %>
      <li class='gallery_list'>
        <div class='gallery_img_list'>
          <%= image_tag coordinate.photos.last.image.url(:medium), class: 'gallery_img' %>
        </div>
      </li>
      <div class='gallery_bottom_info'>
        <span class='model_name'><%= coordinate.owner.name %></span>
      </div>
    <% end %>
  </ul>
<% else %>
  <div class='no_favorites text-center'>
    You have no favorite coordinates yet
  </div>
  <div class='go_top text-center'>
    <%= link_to 'Go to top', root_path, class: 'btn btn-default' %>
  </div>
<% end %>
