<div class='owner_coordinates'>
  <% @coordinates.each do |coordinate| %>
    <%= link_to coordinate do %>
      <div class='list'>
        <div class='list_body'>
          <% coordinate.photos.each do |photo| %>
            <%= image_tag photo.image.url, class: 'coordinate_image' %>
          <% end %>
          <div class='season'>
            dress_season: <%= coordinate.dress_season %>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
