<% @coordinates.each do |coordinate| %>
  <%= link_to coordinate do %>
    <div class='coordinate_list'>
      <div class='list_body'>
        <% coordinate.photos.each do |photo| %>
          <%= image_tag photo.image.url, class: 'coordinate_image' %>
        <% end %>
        <div class='name'>
          <%= coordinate.person_name %>
        </div>
        <div class='season'>
          dress_season: <%= coordinate.dress_season %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
