/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require bootstrap
 *= require font-awesome
 *= require_self
 */
 @import 'bootstrap';
 @import 'font-awesome';

 body {
   background-color: #f7f3e8;
 }

 .no_favorites {
   font-size: 16px;
   color: rgba(0,0,0,.6);
 }
 .go_top {
   margin-top: 10px;

   .btn {
     color: #00ab6b;
     border-color: #00ab6b;
   }
 }

 .user_favorites {
   margin-top: -35px;
   margin-left: 190px;
   margin-bottom: 12px;
   .btn {
     color: #00ab6b;
     border-color: #00ab6b;
     background: #f7f3e8;
   }
 }

 .sign_in_link {
   margin-top: -35px;
   margin-left: 195px;
   margin-bottom: 12px;
   .btn {
     color: #e368d6;
     border-color: #e368d6;
     background: #f7f3e8;
   }
 }

 .logout_link {
   margin-top: -46px;
   margin-left: 210px;
   margin-bottom: 12px;
   .btn {
     color: #00ab6b;
     border-color: #00ab6b;
     background: #f7f3e8;
   }
 }

 h2 {
   font-size: 16px;
   color: rgba(0,0,0,.6);
 }

 .shared_links {
   padding-top: 6px;

   .btn {
     margin-top: 8px;
   }
 }

 .submit {
   .btn {
     color: #02b875;
     border-color: #02b875;
     background: #f7f3e8;
   }
 }

 .btn {
   border-radius: 999em;
   border-color: #696969;
   color: #696969;
   background: #f7f3e8;
 }

 a {
   color: #696969;
 }

h3 {
  a {
    color: inherit;
  }
}

 hr {
   width: 50%;
 }

 .form-group {
   margin-top: 20px;
   margin-bottom: 30px;
   margin-left: 5px;
 }
