// Place all the styles related to the Coordinates controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'bootstrap';
@import 'font-awesome';

.previous {
  margin-right: 280px;
  margin-top: 50px;
}

.next {
  margin-left: 280px;
  margin-top: -29px;
}

.favorite_button {
  margin-top: 10px;

  .btn {
    border-color: #02b875;
    background: #f7f3e8;

    a {
      color: #02b875;
    }
  }
}

.unfavorite_button {
  margin-top: 10px;

  .btn {
    border-color: #02b875;
    background: #f7f3e8;

    a {
      color: #02b875;
    }
  }
}

.coordinates_list {
  margin-top: 30px;
}

.search_form {
  margin-top: -65px;
}

.post {
  margin-top: 15px;
  padding-bottom: 18px;

  .btn {
    color: #02b875;
    border-color: #02b875;
    background-color: #f7f3e8;
  }
}

.owner_list {
  margin-top: 25px;
}

.list {
  text-align: center;
  margin-bottom: 0;
  border: none;
  border-bottom: 1px solid transparent;
  box-shadow: none;

  .list_body {
    font-size: 14px;
    padding: 0;
    height: 330px;
    line-height:45px;
    overflow: hidden;

    a {
      display: block;
    }
  }

  .coordinate_image {
    border-radius: 3px;
    width: 130px;
    margin-right: 10px;
  }
}

.name {
  font-size: 24px;
  color: black;
}

.season {
  font-size: 16px;
  color: #696969;
}

.image {
  img {
    margin: 0 auto;
    border-radius: 5px;
  }
}

.show_more {
  margin-top: 15px;
}

.coordinate {
  margin-top: -50px;
  margin-bottom: 50px;
}

.show_more_coordinates {
  margin-top: -45px;
}

.person_name {
  color: black;
  font-size: 25px;
  padding-bottom: 5px;
  margin-top: -30px;
}

.dress_season {
  font-size: 14px;
}

.occupation {
  font-size: 14px;
}
