@import 'bootstrap';
@import 'font-awesome';

.man_button {
  margin-top: -34px;
  margin-right: 192px;
  margin-bottom: 12px;

  .btn {
    color: #00ab6b;
    border-color: #00ab6b;
    background: #f7f3e8;
  }
}
