<ul class='gallery_box'>
  <% @coordinates.each do |coordinate| %>
    <%= link_to women_coordinate_path(id: coordinate.id) do %>
      <li class='gallery_list'>
        <div class='gallery_img_list'>
          <%= image_tag coordinate.photos.first.image.url, class: 'gallery_img' %>
        </div>
      </li>
      <div class='gallery_bottom_info'>
      </div>
    <% end %>
  <% end %>
</ul>
